<p id="notice"><%= notice %></p>

<h2>
  <strong>Zone:</strong>
  <%= @zone.zone %>
</h2>

<p>
  <strong>Configuration</strong>
  <p>Update your domain's configuration with your domain provider to point at the following nameservers:</p>
  <ul>
    <% @zone.dns_servers.each do |server| %>
      <li><%= server %></li>
    <% end %>
  </ul>
</p>

<% if @zone.records.blank? %>
  You don't have any records for this Zone yet.
  <br/>
  <br/>
<% else %>
  <h3>Records</h3>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>TTL</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>
    </thead>

    <%= render 'records/index', zone: @zone %>
  </table>
<% end %>

<a href=<%= "/records/new?zone_id=#{@zone.id}" %>>
  <button>Add Record</button>
</a>
<br/>
<br/>
<%= link_to 'Destroy', @zone, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', zones_path %>
