<p id="notice"><%= notice %></p>

<p>
  <strong>Zone:</strong>
  <%= @zone.zone %>
</p>

<p>
  <strong>Configuration</strong>
  <p>Update your domain's configuration with your domain provider to point at the following nameservers:</p>
  <ul>
    <% @zone.dns_servers.each do |server| %>
      <li><%= server %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Manage Records', edit_zone_path(@zone) %> |
<%= link_to 'Destroy', @zone, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', zones_path %>
