<p id="notice"><%= notice %></p>

<p>
  <strong>Zone:</strong>
  <%= @zone.zone %>
</p>

<p>
  <strong>Dns servers:</strong>
  <%= @zone.dns_servers %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
